<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHELIS</title>

    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <div class="header-message">
        <p>Free Delivery On Order Over $150. Don't Miss Discount</p>
        <span id="closeBtn">&CircleTimes;</span>
      </div>
      <div class="container">
        <nav class="header-top-nav">
          <div class="col-1">
            <span> <img src="icons/ep_location.svg" alt="" />Location</span>

            <span
              ><img src="./icons/fluent_person-support-28-regular.svg" alt="" />
              Support</span
            >
          </div>

          <div class="col-2">
            Open Doors to a world of fashion - <a href="#">Discover More</a>
          </div>

          <div class="col-3">
            <span
              >NGN <i><img src="/icons/ph_caret-down.svg" alt="" /></i>
            </span>
            <span
              >English <i><img src="/icons/ph_caret-down.svg" alt="" /></i
            ></span>
          </div>
        </nav>
      </div>

      <nav class="header-nav">
        <div class="container">
          <ul>
            <li><a href="">Home</a></li>
            <li>
              View Collections
              <i><img src="/icons/ph_caret-down.svg" alt="" /></i>
            </li>
            <li><a href="#">View all our products</a></li>
          </ul>

          <a href="#" class="logo">SHELIS</a>

          <ul>
            <li>
              <i><img src="/icons/search.svg" alt="" /></i>Search
            </li>
            <li>
              <i><img src="icons/account.svg" alt="" /></i>Account
            </li>
            <li>
              <i><img src="icons/ph_heart.svg" alt="" /></i>Wishlist
            </li>
            <li>
              <i><img src="/icons/solar_bag-4-linear.svg" alt="" /></i>Cart
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section id="hero-section" class="hero-section">
      <div class="container">
        <section class="col-1">
          <div>
            <h1>Elevate your style with luxury outfits</h1>
            <p>Immerse Yourself in Exquisite Designs and Impeccable</p>
            <a href="#">Shop Now</a>
          </div>

          <div>
            <p>
              "Products finely crafted clothing places influenced from popularr
              culture and street fashion and high-end brands."
            </p>

            <div class="hero-stats">
              <span>
                <span>25k+</span>
                <span>HAPPY CUSTOMERS</span>
              </span>

              <span>
                <span>5k+</span>
                <span>MONTHLY ORDERS</span>
              </span>
            </div>
          </div>
        </section>
        <section>
          <div>
            <img src="./images/OIP.jpg" alt="" />
          </div>
        </section>
      </div>
    </section>

    <section id="shopping-features" class="shopping-features-section">
      <div class="container">
        <div>
          <span
            ><img src="/icons/hugeicons_shipping-truck-02.svg" alt=""
          /></span>
          <div>
            <span>Free Shipping</span>
            <span>Tell about your service</span>
          </div>
        </div>

        <div>
          <span><img src="/icons/Vector-1.svg" alt="" /></span>
          <div>
            <span>Money Guarantee</span>
            <span>30 days for exchange</span>
          </div>
        </div>

        <div>
          <span
            ><img
              src="/icons/material-symbols_support-agent-rounded.svg"
              alt=""
          /></span>
          <div>
            <span>Online Support</span>
            <span>24hrs a day, 7 days a week</span>
          </div>
        </div>

        <div>
          <span><img src="./icons/ion_card.svg" alt="" /></span>
          <div>
            <span>Flexible Payment</span>
            <span>Pay with multiple Credit Card</span>
          </div>
        </div>
      </div>
    </section>

    <section id="collection-section" class="collection-section">
      <div class="container">
        <article>
          <img class="" src="./images/image-1.png" alt="" />
          <div>
            <span>SALE 20% OFF</span>
            <h3>Men's <span>Collection</span></h3>
            <a href="#">Shop Now</a>
          </div>
        </article>

        <article>
          <img class="" src="./images/image-1.png" alt="" />
          <div>
            <span>SALE 20% OFF</span>
            <h3>Men's <span>Collection</span></h3>
            <a href="#">Shop Now</a>
          </div>
        </article>

        <article>
          <img class="" src="./images/image-1.png" alt="" />
          <div>
            <span>SALE 20% OFF</span>
            <h3>Men's <span>Collection</span></h3>
            <a href="#">Shop Now</a>
          </div>
        </article>

        <article>
          <img class="" src="./images/image-1.png" alt="" />
          <div>
            <span>SALE 20% OFF</span>
            <h3>Men's <span>Collection</span></h3>
            <a href="#">Shop Now</a>
          </div>
        </article>
      </div>
    </section>

    <div class="reabbe">
      <span>LUXURY WATCHES</span>
      <span>WELL MADE SHOES</span>
      <span>30% OFF WINTER COATS</span>
      <span>LUXURY WATCHES</span>
      <span>WELL MADE SHOES</span>
      <span>30% OFF WINTER COATS</span>
      <span>LUXURY WATCHES</span>
    </div>

    <section id="deals-section" class="deals-section">
      <div class="container">
        <h2>Deals of the day</h2>

        <section>
          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>

          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>

          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>

          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>
        </section>

        <div class="more-deals">
          <span></span>
          <span class="active"></span>
          <span></span>
        </div>
      </div>
    </section>

    <section id="category-section" class="category-section">
      <div class="container">
        <h2>Shop By Category</h2>
        <section class="">
          <div>
            <img src="./images/th.jpg" alt="" />
            <p>Men Clothes</p>
          </div>

          <div>
            <img src="./images/th.jpg" alt="" />
            <p>Men Clothes</p>
          </div>

          <div>
            <img src="./images/th.jpg" alt="" />
            <p>Men Clothes</p>
          </div>

          <div>
            <img src="./images/th.jpg" alt="" />
            <p>Men Clothes</p>
          </div>
        </section>
      </div>
    </section>

    <section id="products-section" class="products-section">
      <div class="container">
        <h2>Our Products</h2>

        <ul class="tabs">
          <li class="tab active">All</li>
          <li class="tab">New Arrivals</li>
          <li class="tab">Best Seller</li>
          <li class="tab">Discount</li>
        </ul>

        <section id="products">
          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>

          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>

          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>

          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>

          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>

          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>

          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>

          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>

          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>

          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>

          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>

          <article>
            <span>-9%</span>
            <img src="./images/image-1.png" alt="" />
            <span id="stars"></span>
            <h4>Slim Fit Half</h4>
            <div>
              <span class="crossed-price">660 NGN</span>
              <span class="real-price">430 NGN</span>
            </div>
          </article>
        </section>

        <button id="more-products">View All Products</button>
      </div>
    </section>

    <section id="testimonial-section" class="testimonial-section">
      <div class="container">
        <div>
          <img style="width: 100%" src="./images/OIP.jpg" alt="" />
        </div>
        <section>
          <article>
            <span>
              <img src="./icons/teenyicons_quote-outline-1.svg" alt="" />
            </span>
            <blockquote>
              I never thought shopping online could be this enjoyable. It's
              organized and every click feels purposeful. Finally, an ecommerce
              experience that feels as good as it looks!
            </blockquote>
            <span
              ><img src="./icons/teenyicons_quote-outline.svg" alt=""
            /></span>
            <cite>
              <img src="" alt="" />
              <div>
                <span>Fatma Hamid</span>
                <span>CEO</span>
              </div>
            </cite>
          </article>

          <div class="more-testimonials">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </section>
      </div>
    </section>

    <section id="blog-section" class="blog-section">
      <div class="container">
        <h2>Our Latest Updates</h2>

        <section>
          <article>
            <img src="./images/OIP.jpg" alt="" />
            <div>
              <span
                ><i><img class="icons" src="./icons/bxs_pen.svg" alt="" /></i>
                Kakind Sakin</span
              >
              <span
                ><i><img src="./icons/solar_calendar-linear.svg" alt="" /></i> 7
                Jan 2024</span
              >
            </div>

            <h4>Top Essentia Trends in 2024</h4>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
              earum saepe id nam exercitationem quos totam, necessitatibus
              molestiae nemo expedita perferendis delectus est?
            </p>

            <a href="#">Read More</a>
          </article>

          <article>
            <img src="./images/OIP.jpg" alt="" />
            <div>
              <span
                ><i><img class="icons" src="./icons/bxs_pen.svg" alt="" /></i>
                Kakind Sakin</span
              >
              <span
                ><i><img src="./icons/solar_calendar-linear.svg" alt="" /></i> 7
                Jan 2024</span
              >
            </div>

            <h4>Top Essentia Trends in 2024</h4>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
              earum saepe id nam exercitationem quos totam, necessitatibus
              molestiae nemo expedita perferendis delectus est?
            </p>

            <a href="#">Read More</a>
          </article>

          <article>
            <img src="./images/OIP.jpg" alt="" />
            <div>
              <span
                ><i><img class="icons" src="./icons/bxs_pen.svg" alt="" /></i>
                Kakind Sakin</span
              >
              <span
                ><i><img src="./icons/solar_calendar-linear.svg" alt="" /></i> 7
                Jan 2024</span
              >
            </div>

            <h4>Top Essentia Trends in 2024</h4>

            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
              earum saepe id nam exercitationem quos totam, necessitatibus
              molestiae nemo expedita perferendis delectus est?
            </p>

            <a href="#">Read More</a>
          </article>
        </section>
      </div>
    </section>

    <section id="newsletter-section" class="newsletter-section">
      <div class="container">
        <h3>Subscribe on our newsletter</h3>
        <p>
          Get daily news on upcoming offers and collections from many brands all
          over the world
        </p>

        <form action="">
          <span>
            <i></i>
            <input type="text" />
          </span>
          <button>Subscribe</button>
        </form>
      </div>
    </section>

    <footer>
      <div class="footer-head">
        <div class="container">
          <div>
            <span class="logo">SHELIS</span>
            <p>
              Best information about the company goes here. Laughing out loud!
            </p>

            <ul>
              <li>
                <a href=""
                  ><img
                    src="./icons/entypo-social_facebook-with-circle.svg"
                    alt=""
                /></a>
              </li>
              <li>
                <a href=""
                  ><img
                    src="./icons/entypo-social_instagram-with-circle.svg"
                    alt=""
                /></a>
              </li>

              <li>
                <a href="#"
                  ><img
                    src="./icons/entypo-social_linkedin-with-circle.svg"
                    alt=""
                /></a>
              </li>

              <li>
                <a href="#"
                  ><img
                    src="./icons/entypo-social_youtube-with-circle.svg"
                    alt=""
                /></a>
              </li>
            </ul>
          </div>

          <nav>
            <h3>About</h3>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Find store</a></li>
              <li><a href="#">Categories</a></li>
              <li><a href="#">Blogs</a></li>
            </ul>
          </nav>

          <nav>
            <h3>Patnership</h3>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Find store</a></li>
              <li><a href="#">Categories</a></li>
              <li><a href="#">Blogs</a></li>
            </ul>
          </nav>

          <nav>
            <h3>Information</h3>
            <ul>
              <li><a href="#">Help Center</a></li>
              <li><a href="#">Money Refunnd</a></li>
              <li><a href="#">Shipping</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>
          </nav>

          <nav>
            <h3>For Users</h3>
            <ul>
              <li><a href="#">Login</a></li>
              <li><a href="#">Register</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="#">My Orders</a></li>
            </ul>
          </nav>

          <nav class="downloads">
            <h3>Get App</h3>
            <ul>
              <li>
                <img src="./icons/mage_playstore.svg" alt="" /><span
                  ><span>Download from</span> Playstore</span
                >
              </li>
              <li>
                <img src="./icons/tdesign_logo-apple-filled.svg" alt="" />
                <span><span>Get on</span> AppleStore</span>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="footer-note">SHELIS &copy; 2024 All Rights Reserved</div>
    </footer>
  </body>
</html>
