.newsletter-section {
  background-color: #f7f5f0;
  padding: 4rem;

  .container {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    text-align: center;

    h3 {
      font-size: 2.6rem;
    }

    form {
      margin-top: 3rem;
      input {
        width: 50%;
        padding: 1em;
      }

      button {
        padding: 1em 1.4em;
        background-color: #f6dfbd;
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 320px) {
  .newsletter-section {
    display: none;
  }
}
